/*
  modifie la page
*/
.container{
    width: 400px;
    background: #4a5b6e;justify-content: center;
    padding: 10px;
}


body{
    /* mettre un coloration dégratée */
    background: linear-gradient(to right, #90a858, #d4afe6);
    /*centrer le contenu du body*/
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*
  modifie tout le bloc de la calculatrice
*/
.form-control{
    height: 65px;
}

/*
  modifier la disposition des boutons
*/
.btn{
    width: 84px;
    height: 60px;
    margin: 5px;
}

#titre{
    margin-top: 15px;
    text-align: center;
}